<div class="parent">
    <div class="wrapper-sidebar" [class.sidebar-scrolled]="scrolled">


        <div class="sidebar slideInDown ">
            <div class="logoTerra-container">
                <img class="logoTerra" ngSrc="assets/images/lineage2Terra_blanco.webp" fill alt="Logo de Terra"
                    priority>
            </div>
            <button class=" btn-menu" (click)="toggleNav()"><i [ngClass]="navVisible ? 'fa-xmark' : 'fa-bars'"
                    class="fa-solid fa-bars"></i></button>

            <div class="sidebar-nav" *ngIf="navVisible">

                <ul>
                    <li (click)="navigateToHome()">
                        <a><i class="fa-solid fa-house-chimney"></i>&nbsp; Home</a>
                        &nbsp;

                    </li>
                    <li>
                        <a><i class="fa-solid fa-users"></i>&nbsp; Community</a>


                    </li>

                    <li (click)="navigateToBuyTerraCoin()">
                        <a><i class="fa-solid fa-coins"></i>&nbsp; Buy Terra Coin</a>


                    </li>
                    <li (click)="navigateToSendTerraCoin()">
                        <a><i class="fa-solid fa-share"></i> &nbsp;Send Terra
                            Coin</a>


                    </li>
                    <li (click)="navigateToCreateAccountGame()">
                        <a><i class="fa-solid fa-gamepad"></i>&nbsp; Create account</a>

                    </li>
                    <li (click)="navigateToChangePasswordGame()">
                        <a><i class="fa-solid fa-lock"></i>&nbsp; Change Password</a>

                    </li>
                    <li (click)="navigateToSettingsAccountsMaster()">
                        <a><i class="fa-solid fa-gears"></i>&nbsp;
                            Settings</a>

                    </li>

                </ul>
                <ul class="support">
                    <li (click)="navigateToSupport()">
                        <a><i class="fa-solid fa-circle-question"></i>&nbsp; Support</a>

                    </li>
                </ul>
            </div>


        </div>
    </div>
    <div class="wrapper-pilar">
        <div class="nav slideInDown " [class.nav-scrolled]="scrolled">
            <ul>
                <li style="color: #dabe64; font-family: 'Montserrat'; font-style: italic;">
                    <span>
                        <i class="fa-solid fa-coins"></i> Terra Coins:
                        <span style="font-size: 16px; font-weight: 700;">
                            {{ accountM?.terraCoins }}
                        </span>
                        &nbsp;|&nbsp;
                        <i class="fa-solid fa-user"></i> {{ accountM?.email }}
                        <br>
                        <i class="fa-brands fa-telegram"></i>&nbsp;
                        <i class="fa-brands fa-facebook"></i>&nbsp;
                        <i class="fa-brands fa-square-instagram"></i>
                    </span>
                </li>

                <li style="display: flex;align-items: center;gap: 20px;">
                    <span style="display: flex;">

                        <button class="btn-change-dark" [class.active]="isDarkMode" (click)="toggleDarkMode()">
                            <i [ngClass]="isDarkMode ? 'fa-solid fa-circle' : 'fa-solid fa-moon'"></i>
                        </button>

                    </span>
                    <button class="btn-logout" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </button>
                </li>
            </ul>


        </div>
        <div class="content" [class.content-scrolled]="scrolled">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>