@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');

.parent {
    width: 100%;

    display: flex;
    flex-direction: row;

}

.logoTerra {
    filter: drop-shadow(0px 0px 2px #3b3b3b);
    width: 100px;
    transition: all 0.5s ease-in-out;


}

.logoTerra:hover {

    cursor: pointer;



}

@keyframes shadowPulse {
    0% {
        filter: drop-shadow(0px 0px 15px #746535);
    }

    50% {
        filter: drop-shadow(0px 0px 15px #dabe64) brightness(1.05);
    }

    100% {
        filter: drop-shadow(0px 0px 15px #f0d67a);
        /* Variante más clara */
    }
}

.wrapper-sidebar {
    width: 20%;

}

.sidebar {
    width: 70%;
    height: 100%;
    margin: auto;
    float: right;
    display: block !important;
    background-color: none;



}

.wrapper-pilar {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0px;
    background: none;
    margin-top: 50px;
    width: 80%;
    margin: auto;
    background-color: #111111;
    position: relative;
    border-bottom: 1px solid #dabe64;


}

.nav::after {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    left: -100px;
    background-color: transparent;
    border-right: 50px solid #111111;
    border-bottom: 50px solid transparent;
    filter: drop-shadow(-2px 0px 0px #dabe64);

}

.nav::before {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    right: -100px;
    background-color: transparent;
    border-left: 50px solid #111111;
    border-bottom: 50px solid transparent;
    filter: drop-shadow(2px 0px 0px #dabe64);

}


.nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
    text-shadow: 0px 0px 15px black;
}

.nav ul li {
    padding-right: 110px;
}


.auth-link:hover {
    text-decoration: underline;
}



.btn-logout {
    width: 100%;
    padding: 12px;
    background: transparent;
    color: #dabe64;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: none;
  

}



.btn-logout:hover {
    background: linear-gradient(to right, #96813f, #dabe64);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(218, 190, 100, 0.3);
}

.content {
    max-height: 100%;

}

.content span {
    margin: auto;
    font-size: 22px;
    color: #dabe64;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar-nav {
    display: block !important;
    width: 80%;






}

.sidebar-nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0px;

}

.sidebar-nav ul li {
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgb(95, 95, 95);
    color: #EFEFF0 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Segoe UI';
    font-style: normal;
    margin-top: 15px;
    color: #746535;
    transition: all 0.3s ease;
    padding: 15px;
    box-shadow: 0px 0px 35px rgba(218, 191, 100, 0) inset;
    border-radius: 1px;
    outline: 3px groove rgba(218, 190, 100, 0.1);
    outline-offset: 0px;
    background: rgba(17, 17, 17, 0.9);



}

.sidebar-nav ul li a {
    display: flex;
    justify-content: center;

    display: inline-block;
    /* para que funcione transform bien */

}

.sidebar-nav ul li a i {
    font-size: 17px;
    color: #dabe64;

}


.sidebar-nav ul li:hover {
    cursor: pointer;
    text-shadow: 0px -2px 15px #dabe64;
    color: #dabe64 !important;
    transform: translateY(-5px) !important;
    transform: scale(1.1);
    letter-spacing: 1px;
    box-shadow: 0 0px 32px #CCB15D inset;
    outline: 3px groove #CCB15D;
    outline-offset: 0px;
    background: rgb(17, 17, 17);

}

.btn-menu {
    display: none;
    position: absolute;
    top: 100px;
    right: 100px;
    background: linear-gradient(to right, #746535, #998648);
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 60px;
    color: white;
    border-radius: 2px;


}

.btn-menu:hover {
    box-shadow: 0 0px 32px #ffefc0a4 inset;
    transform: translateY(-5px);

}

.logoTerra-container {
    position: relative;
    width: 220px;
    height: 207px;
}

@media (min-width: 1080px) and (max-width: 1550px) {

    .sidebar {
        width: 90%;
    }

    .sidebar-nav ul li {
        font-size: 11px;
    }




}

@media (min-width: 1081px) {
    .logoTerra-container {
        background: rgb(17, 17, 17);

        position: relative;
        border-bottom: 2px solid #dabe64;

        /* sombra dorada general */
    }

    .logoTerra-container:hover .logoTerra {
        padding: 10px;
        filter: drop-shadow(0px 0px 15px white) brightness(1.1);
        animation: none;
        cursor: pointer;
        transform: scale(1.1);
    }

    .logoTerra-container::before {
        content: "";
        display: block;
        width: 20px;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0px;
        left: -20px;
        border-right: 20px solid rgb(17, 17, 17);
        border-bottom: 20px solid transparent;
        filter: drop-shadow(-2px 2px 0px #dabe64);
        /* sombra en esquina izquierda */
    }

    .logoTerra-container::after {
        content: "";
        display: block;
        width: 20px;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0px;
        right: -20px;
        border-left: 20px solid rgb(17, 17, 17);
        border-bottom: 20px solid transparent;
        filter: drop-shadow(2px 2px 0px #dabe64);
        /* sombra en esquina derecha */
    }


    .parent {
        display: flex;
        height: 100%;
    }

    .sidebar-nav {
        display: block !important;
        width: 100%;
    }

    .wrapper-sidebar {
        position: sticky !important;
        top: 0px;


    }

    .nav {
        position: sticky !important;
        top: 0px;

    }

    .logoTerra-container {
        position: sticky !important;
        top: 0px;
        left: 50%;
        transform: translateX(-10%);
    }


    .sidebar-nav {
        position: sticky !important;
        top: 250px;
        height: 600px;
    }

}

.support {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media (max-width: 480px) {

    .logoTerra {
        width: 100% !important;
    }

    .btn-menu {
        display: block;
        position: absolute;
        top: 100px !important;
        right: 20px;
    }

    .btn-logout {
        width: 100% !important;
    }

    .sidebar {
        background-color: transparent;
        display: flex !important;
        flex-direction: column !important;
    }
}


@media (max-width: 1080px) {
    .parent {
        flex-direction: column;
        height: 100%;
        width: 100%;
        height: 80%;
    }

    .support {
        position: relative;
        bottom: 0px;
    }

    .wrapper-sidebar {}

    .wrapper-pilar {}

    .nav {
        border-top: none;
        border-left: 1px solid #3b3b3b;
        border-right: 1px solid #3b3b3b;
        flex-wrap: wrap;
        width: 100%;
        background-color: transparent;
        border: none;

    }

    .nav ul {
        display: flex;
        flex-wrap: wrap;
        
    }

    .nav ul li {
        width: 100%;
    }

    .nav::after {
        content: "";
        display: none;
    }

    .nav::before {
        content: "";
        display: none;

    }

    .sidebar-nav ul li {
        margin-top: 15px;
    }

    .sidebar {}

    .btn-menu {
        display: block;
    }

    .logoTerra {
        width: 220px !important;
    }


    .wrapper-sidebar {
        width: 100%;
        height: 80%;
    }

    .sidebar {
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 0px;
        height: 80%;
    }

    .sidebar-nav {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sidebar-nav ul {
        width: 100%;
        list-style: none !important;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .sidebar-nav ul li {
        list-style: none !important;
        width: 300px;
    }

    .sidebar-nav ul li:last-child {}

    .wrapper-pilar {
        width: 100%;

    }





}


.btn-secondary {
    width: 100px;
    padding: 12px;
    border: 1px solid rgba(218, 190, 100, 0.5);
    border-radius: 8px;
    background: transparent;
    color: #dabe64;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn-secondary:hover {
    background-color: rgba(218, 190, 100, 0.1);
}

.btn-secondary i {
    margin-right: 8px;
}

.nav-scrolled {
    z-index: 1000;
}

.nav-scrolled::after {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    left: -100px;
    background-color: transparent;
    border-right: 50px solid #111111;
    border-bottom: 50px solid transparent;
}

.nav-scrolled::before {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    right: -100px;
    background-color: transparent;
    border-left: 50px solid #111111;
    border-bottom: 50px solid transparent;
}



.sidebar-scrolled {
    background: none;
    /* fondo oscuro elegante */
    border: none;
    /* amarillo dorado tipo Terra Coins */
    transition-duration: 2s ease;


}

.content-scrolled {
    transition-duration: 2s;
}

.nav-scrolled i,
.nav-scrolled span,
.nav-scrolled li {
    /* todos los elementos dorados */
}


.btn-change-dark {
    position: relative;
    padding: 5px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: #dabe64;
    transition: transform 0.5s ease;
}

/* Efecto de rotación al pasar el mouse */
.btn-change-dark:hover {
    transform: rotate(360deg);
}

/* Ícono por defecto: luna vacía */
.btn-change-dark i::before {
    content: "\f186";
    /* fa-moon */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    transition: content 0.3s ease;
    color: #dabe64;

}

/* Si está activo: luna llena con glow */
.btn-change-dark.active i::before {
    content: "\f111";
    /* fa-circle */
    text-shadow: 0px 0px 15px #96813f;
}