<div class="parent">
    <div class="wrapper-sidebar" [class.sidebar-scrolled]="scrolled">


        <div class="sidebar slideInDown ">
            <div class="logoTerra-container">
                <img class="logoTerra" ngSrc="assets/images/lineage2Terra_blanco.webp" fill alt="Logo de Terra"
                    priority>
            </div>
            <button class="btn-secondary btn-menu" (click)="toggleNav()"><i
                    [ngClass]="navVisible ? 'fa-xmark' : 'fa-bars'" class="fa-solid fa-bars"></i></button>

            <div class="sidebar-nav" *ngIf="navVisible">
                <img src="assets/images/separator2.png" width="100%" height="250px" alt="" srcset=""
                    style="margin-bottom: -100px;margin-top: -115px;">
                <ul>
                    <li>
                        <a (click)="navigateToHome()"><i class="fa-solid fa-house-chimney"></i>&nbsp; Home</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>

                    </li>
                    <li>
                        <a><i class="fa-solid fa-users"></i>&nbsp; Community</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>

                    </li>

                    <li>
                        <a (click)="navigateToBuyTerraCoin()"><i class="fa-solid fa-coins"></i>&nbsp; Buy Terra Coin</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>

                    </li>
                    <li>
                        <a (click)="navigateToSendTerraCoin()"><i class="fa-solid fa-share"></i> &nbsp;Send Terra Coin</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>

                    </li>
                    <li>
                        <a (click)="navigateToCreateAccountGame()"><i class="fa-solid fa-gamepad"></i>&nbsp; Create
                            Account</a>
                        &nbsp; <i class="fa-solid fa-circle-check text-success"></i>
                    </li>
                    <li>
                        <a (click)="navigateToChangePasswordGame()"><i class="fa-solid fa-lock"></i>&nbsp; Change Password</a>
                        &nbsp; <i class="fa-solid fa-circle-check text-success"></i>
                    </li>
                    <li>
                        <a (click)="navigateToSettingsAccountsMaster()"><i class="fa-solid fa-gears"></i>&nbsp; Settings</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>
                    </li>

                </ul>
                <ul class="support">
                    <li>
                        <a (click)="navigateToSupport()"><i class="fa-solid fa-circle-question"></i>&nbsp; Support</a>
                        &nbsp; <i class="fa-solid fa-circle-xmark text-danger"></i>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <div class="wrapper-pilar">
        <div class="nav slideInRight " [class.nav-scrolled]="scrolled">
            <ul>
                <li style="color: #dabe64; font-family: 'Montserrat'; font-style: italic;">
                    <span>
                        <i class="fa-solid fa-coins"></i> Terra Coins:
                        <span style="font-size: 16px; font-weight: 700;">
                            {{ accountM?.terraCoins }}
                        </span>
                        &nbsp;|&nbsp;
                        <i class="fa-solid fa-user"></i> {{ accountM?.email }}
                        <br>
                        <i class="fa-brands fa-telegram"></i>&nbsp;
                        <i class="fa-brands fa-facebook"></i>&nbsp;
                        <i class="fa-brands fa-square-instagram"></i>
                    </span>
                </li>

                <li style="display: flex;align-items: center;gap: 20px;">
                    <span style="display: flex;">

                        <button class="btn-change-dark" [class.active]="isDarkMode" (click)="toggleDarkMode()">
                            <i [ngClass]="isDarkMode ? 'fa-solid fa-circle' : 'fa-solid fa-moon'"></i>
                        </button>

                    </span>
                    <button class="btn-logout" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </button>
                </li>
            </ul>


        </div>
        <div class="content" [class.content-scrolled]="scrolled">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>