<div class="dashboard-container">
    <!-- Mobile backdrop -->
    <div class="mobile-backdrop" *ngIf="!sidebarCollapsed" (click)="toggleSidebar()" [style.display]="'none'">
    </div>

    <!-- Sidebar -->
    <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
            <i *ngIf="sidebarCollapsed" class="fa-solid fa-arrow-right"></i>
            <i *ngIf="!sidebarCollapsed" class="fa-solid fa-arrow-left"></i>
        </button>
        <br><br>
        <div class="sidebar-header">
            <div class="logo" style="margin-left: -10px;">
                <span class="logo-icon">
                    <img src="assets/images/Tlogo-terra.webp" width="40px" height="50px" alt="">
                </span>
                <span class="logo-text" *ngIf="!sidebarCollapsed">Terra</span>
            </div>
        </div>

        <nav class="sidebar-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/home-dashboard']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-house-chimney"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-users"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Community</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/download']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-cloud-arrow-down"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Download</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/buy-terra-coin']" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-coins"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Buy Terra Coin</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/send-terra-coin']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-share"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Send Terra Coin</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/create-account-game']" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-gamepad"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Create Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/change-password-game']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-lock"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Change Password</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/setting-account-master']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-gears"></i> </span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/support']" class="nav-link">
                        <span class="nav-icon"> <i class="fa-solid fa-circle-question"></i></span>
                        <span class="nav-text" *ngIf="!sidebarCollapsed">Support</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
        <!-- Header -->
        <header class="header">
            <div class="header-left">
                <h1 class="page-title"><i class="fa-solid fa-table-columns"></i> Dashboard Terra</h1>
            </div>

            <div class="header-right">

                <div class="header-actions">
                    
                    <button class="action-btn">
                        <span class="notification-badge" style="display: none;">-</span>
                        <i class="fa-solid fa-bell" style="color: #dabe64;"></i>
                    </button>
                    <div class="user-profile">
                        <span class="user-name"><i class="fa-solid fa-envelope"></i> {{accountMaster?.email}}</span>
                        <span class="terra-coins"> <i class="fa-solid fa-coins"></i> Terra Coins:
                            {{accountMaster?.terraCoins }}</span>
                    </div>
                    <button class="btn-logout" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </button>
                </div>
            </div>
        </header>

        <!-- Dashboard Content -->
        <div class="dashboard-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>