<router-outlet></router-outlet>



<!-- Acá sí el offcanvas envuelve al componente -->
<div class="offcanvas offcanvas-end chatbot-container" tabindex="-1" id="offCanvasChat"
    aria-labelledby="offCanvasChatLabel">

    <img src="" alt="" srcset="">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasChatLabel"> <i class="fa-solid fa-robot"></i> Terra Assistant</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body p-0">

        <app-botterra></app-botterra>
    </div>
</div>

<app-bot-sprite data-bs-toggle="offcanvas" data-bs-target="#offCanvasChat"></app-bot-sprite>