@font-face {
    font-family: "l2font";
    src: url("/assets/fonts/l2font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort";
    src: url("/assets/fonts/Beaufort/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort";
    src: url("/assets/fonts/Beaufort/BeaufortforLOL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort";
    src: url("/assets/fonts/Beaufort/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "DIN Next W1G";
    src: url("/assets/fonts/DINNextW1G/DINNextW1G-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN Next W1G";
    src: url("/assets/fonts/DINNextW1G/DINNextW1G.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/AlumniSansSC-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/AlumniSansSC-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Alumni Sans SC";
    src: url("/assets/fonts/Alumni_Sans_SC/static/AlumniSansSC-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Marcellus SC";
    src: url("/assets/fonts/Marcellus_SC/MarcellusSC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.l2font {
    font-family: "l2font";
    font-weight: normal;
    font-style: normal;
}

.font-beaufort-regular {
    font-family: 'Beaufort', sans-serif;
    font-weight: 400;
}

.font-beaufort-medium {
    font-family: 'Beaufort', sans-serif;
    font-weight: 500;
}

.font-beaufort-bold {
    font-family: 'Beaufort', sans-serif;
    font-weight: 700;

}

.font-din-bold {
    font-family: 'DIN Next W1G', sans-serif;
    font-weight: bold;
}

.font-din-normal {
    font-family: 'DIN Next W1G', sans-serif;
    font-weight: normal;
}