<div class="nk-preloader nk-preloader-open" style="display: none;">
  <div class="nk-preloader-bg" style="background-color: #000;" data-frames="23" data-speed="1.2"
    data-sprites="assets/images/preloader-bg-bw.png">
  </div>
  <div class="nk-preloader-content">
    <div>
      <div class="nk-preloader-animation"></div>
    </div>
  </div>
  <div class="nk-preloader-skip">Skip</div>
</div>
<div class="nk-preloader nk-preloader-close" style="display: none;">
  <div class="nk-preloader-bg" style="background-color: #000;" data-frames="23" data-speed="1.2"
    data-sprites="assets/images/preloader-bg.png">
  </div>
  <div class="nk-preloader-content">
    <div>
      <div class="nk-preloader-animation"></div>
    </div>
  </div>
  <div class="nk-preloader-skip">Skip</div>
</div>